body,
html {
  height: 100%;
}
.nav-bkgrnd {
  background-color: #f1f3f4;
}
.navbar-expand-lg .navbar-nav.main-nav .nav-link {
  padding: 0.5em 3em;
  font-size: 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "Lucida Grande";
}
.toggle-btn {
  margin-left: auto;
  border: none;
}
button:hover {
  color: #5180ee;
}
p span {
  display: block;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2;
  background-color: #253d74;
  border-color: #253d74;
  color: white;
}
.welcomebox {
  position: absolute;
  top: 30px;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 8px;
  font-family: "Radley", sans-serif;
}
#est {
  position: absolute;
  bottom: -15px;
  font-size: 15px;
  letter-spacing: 5px;
  font-family: "PT Serif Caption", serif;
}
.bkgrdbox {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 600px;
  height: 305px;
  z-index: +1;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name {
  box-sizing: border-box;
  padding-top: 90px;
  text-align: center;
  font-family: "Kaushan Script", cursive !important;
  color: #253d74;
  letter-spacing: 2px;
  position: absolute;
  font-size: 90px;
  z-index: +1;
}
.text1 {
  position: absolute;
  top: 340px;
  right: 350px;
}
.home-brick {
  width: 100%;
  height: 700px;
  display: block;
  margin: 15px 20px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.scis {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 80px;
  box-sizing: content-box;
}
.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
.btn:hover,
.nav ul li:hover {
  background: #e3e8e8;
  cursor: pointer;
  transition: background 0.5s;
}
.home-page {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: auto;
  width: 100%;
}
table {
  table-layout: fixed;
  width: 100%;
  font-size: 15px;
}
td {
  width: 50%;
  padding-top: 1em;
}
.duo-panel {
  width: 50%;
  height: 770px;
  padding-left: 22px;
  padding-bottom: 30px;
  box-sizing: border-box;
  float: left;
}
.duo-panel-2 {
  width: 50%;
  height: 775px;
  padding-right: 22px;
  padding-bottom: 35px;
  box-sizing: border-box;
  float: right;
}
.duo-panel-3 {
  width: 50%;
  height: 770px;
  padding-left: 22px;
  padding-bottom: 30px;
  box-sizing: border-box;
  float: left;
}
.clearfix {
  content: "";
  clear: both;
}
.sideinfo {
  float: left;
  width: 48%;
  height: 740px;
}
.data-container {
  padding: 1em 5em;
  height: 100%;
}
.hours-location-info {
  float: left;
  width: 48%;
  height: 740px;
}
.hours-location-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sideinfo1 {
  float: right;
  width: 48%;
  height: 740px;
}
.sideinfo2 {
  float: right;
  width: 96%;
  height: 740px;
}
.duoim {
  width: 15%;
  height: 8%;
  text-align: center;
  box-sizing: content-box;
}
.duoim1 {
  width: 15%;
  height: 8%;
  display: block;
  margin: auto;
}
.duoim2 {
  width: 15%;
  height: 10%;
  position: absolute;
  top: 4em;
  box-sizing: content-box;
}
.duoim3 {
  width: 15%;
  height: 8%;
  text-align: center;
  box-sizing: content-box;
}
.decal {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.ser-decal {
  padding-bottom: 2em;
}
.w1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: "Radley", serif;
  color: #253d74;
}
.w2 {
  text-align: center;
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "PT Serif Caption", serif;
}
.w3 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.w4 {
  text-align: center;
  margin-top: 40px;
  font-family: "Quicksand", sans-serif;
}
.w5 {
  text-align: center;
  margin-top: 80px;
  font-family: "Quicksand", sans-serif;
}
.w6 {
  position: absolute;
  top: 150px;
  letter-spacing: 3px;
  font-family: "Radley", serif;
  color: #253d74;
}
.note {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
#phone-num {
  position: absolute;
  right: 100px;
  top: 250px;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: "Radley", serif;
}
#phone-num a:hover {
  text-decoration: none;
  color: #3385ff;
}
a[href^="tel"] {
  color: black;
}
.app-text {
  position: absolute;
  left: 115px;
  top: 195px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.btm-bkgrd {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: auto;
  width: 100%;
}
.brick2 {
  width: 100%;
  height: 790px;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 10px 30px;
}
#bkgrdcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 500px;
  height: 500px;
  z-index: +1;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hours {
  text-align: center;
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
}
#map {
  filter: grayscale(50%);
}
.ser {
  font-size: 23px;
  border-bottom: solid;
  font-family: "PT Serif Caption", serif;
  margin-top: 45px;
}
.ser1 {
  font-size: 23px;
  border-bottom: solid;
  font-family: "PT Serif Caption", serif;
}
.ser2 {
  font-size: 23px;
  border-bottom: solid;
  font-family: "PT Serif Caption", serif;
  margin-right: 40px;
}
.ser3 {
  font-size: 23px;
  border-bottom: solid;
  font-family: "PT Serif Caption", serif;
}
.ser4 {
  font-size: 23px;
  border-bottom: solid;
  font-family: "PT Serif Caption", serif;
  margin-top: 50px;
}
.serp {
  box-sizing: border-box;
}
table.center {
  font-family: "Quicksand", sans-serif;
}
table.center1 {
  font-family: "Quicksand", sans-serif;
  margin-left: 25px;
}
table.center2 {
  font-family: "Quicksand", sans-serif;
  margin-left: 35px;
}
table.center3 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 50px;
}
#top {
  z-index: +1;
}
li a {
  text-decoration: none !important;
  color: black !important;
}
.side-info-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-container {
  display: flex;
}
@media (max-width: 580px) {
  .data-container {
    padding: 3em 6em !important;
  }
  .name {
    padding: 1.5em 0.4em 0 0.2em;
    font-size: 80px;
  }
  .bkgrdbox {
    height: 400px;
    width: 100%;
  }
  #est {
    bottom: -5px;
  }
  .brick2 {
    padding: 0;
    top: 4em;
  }
  #bkgrdcircle {
    width: 100%;
    height: 50%;
    justify-content: center;
    border-radius: 0;
  }
  .app-text {
    left: 0;
    position: initial;
  }
  #phone-num {
    right: inherit;
  }
}
@media (max-width: 882px) {
  .duo-panel {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 0;
  }
  .duo-panel-2 {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 0;
    margin-top: 2em;
  }
  .duo-panel-3 {
    width: 100%;
    height: 400px;
    object-fit: fill;
    padding: 2em 0 0 0;
  }
  .duoim {
    width: 10%;
    height: 8%;
    padding-top: 1em;
    text-align: center;
    box-sizing: content-box;
  }
  .duoim1 {
    width: 10%;
  }
  .duoim3 {
    width: 10%;
    padding-top: 2em;
  }
  .sideinfo {
  float: left;
  width: 100%;
  height: 100%;
  }
  .sideinfo2 {
    float: left;
    width: 100%;
    height: 100%;
    }
  .carousel-control-prev {
    padding-left: 2em;
  }
  .hours-location-info {
    width: 100%;
    height: 100%;
  }
  .hours-location-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-width {
    width: 100%;
  }
  .carousel-indicators { 
    margin-bottom: 2em;
  }
  .data-container {
    padding: 3em 8em;
  }
  .ser {
    margin-top: 40px;
  }
}
@media (min-width: 883px) {
  .w3 {
    font-size: 18px;
  }
  .w4 {
    font-size: 16px;
  }
  .center {
    font-size: 16px;
  }
  .service-width {
    width: 50%
  }
  .our-services {
    margin-top: 4em;
    padding: 1em 3em;
  }
  .beauty-txt {
    margin-top: 30px;
  }
  .data-container {
    padding: 1em 3em;
  }
}
@media (min-width: 1250px) {
  .navbar-expand-lg .navbar-nav.main-nav .nav-link {
    padding: 0.5em 4em;
  }
  .note {
    font-size: 16px;
  }
  .ser-decal {
    padding-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .navbar-expand-lg .navbar-nav.main-nav .nav-link {
    padding: 0.5em 5em;
    font-size: 16px;
  }
  .data-container {
    padding: 1em 5em;
  }
}